.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    align-content: center;
  }
  
  .column {
    flex: 50%;
    padding: 0 50px;
    position: relative;
  }
  


  


#main_menu{
    list-style:none;
    padding: 0;

}

#main_menu li{
    display: inline-block;
}

#main_menu li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(246, 246, 246);
    
}

#main_menu li a:hover{
    color: brown;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(41, 41, 41);
}

.box{
    background-color: rgba(57, 58, 57, 0.8);
    color: rgba(245, 248, 208, 0.9);
    margin-top: 25px;
    padding: 20px;
}

.box01{
    position: relative;
    left: 30%;
}

.box02{
  text-align:left;
  color: #7baef0;
}

a.move{
    color: #000;
    font-size: 25px;
    padding: 15px 25px;
    text-decoration: none;
}

